.form-input{
    width: 100%;
    padding: 5px;
    font-size: 20px;
    resize: none;
}

.form-buttons {
    text-align: right;
}

.form-buttons_item {
    padding: 5px;
    background-color: #fff;
    border: 1px solid black;
    margin-left: 5px;
    width: 70px;
}