.modal{
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.form-close-btn{
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    display: block;
    background-color: transparent;
    border: none;
    width: 25px;
    height: 25px;
}

.form{
    height: auto;
    width: 500px;
    padding: 30px;
    padding-top: 50px;
    box-sizing: border-box;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: #fff;
    border-radius: 5px;
    z-index: 999;
}

.form-close-btn::before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: black;
    transform: translate(-50%, -50%) rotate(45deg);
    position: absolute;
    top: 50%;
    left: 50%;
}

.form-close-btn::after{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: black;
    transform:translate(-50%, -50%) rotate(-45deg);
    position: absolute;
    top: 50%;
    left: 50%;
}